@import "src/app/tools/styles/mixin";

.security-incidents {
  overflow: hidden;
  &-header {
    margin-bottom: 1.5em;
    height: 4em;
    @include flex-content(flex-start);
    flex-wrap: wrap;
  }
  &-content {
    @include flex-content(flex-start, flex-start, column);
    height: calc(100% - 4em);
    overflow: hidden;
    &-count {
      @include flex-content(flex-start, flex-start);
      font-weight: bold;
      height: 2em;
      color: #717171;
      font-size: 1.2em;
      span {
        font-size: 1.2em;
        margin: 0 .2em;
      }
    }
    &-grid {
      height: calc(100% - 4em);
      //overflow-x: hidden;
      width: 100%;
      overflow: auto;
      tbody {
        display: block;
        height: calc(100% - 3em);
        overflow: auto;
        width: 100%;
      }
      thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;/* even columns width , fix width of table too*/
      }
      thead {
        width: 100%;
        height: 3em;
      }
      table {
        //width: 400px;
      }
      &-empty {
        @include flex-content();
        &-img {
          width: 11em;
          height: 11em;
        }
      }
      &-data {
        th, tr td {
          //border-bottom: 1px solid #adadad;
        }
        table {
          border-collapse: collapse;
        }
        &-header {
          height: 3em;
          background: #ececec;
          color: #717171;
          &-item {
            font-weight: bold;
            &-text {
              @include flex-content(flex-start);
              text-align: center;
              width: calc(100% - 1em);
              padding: 0 0 0 1em;
              font-size: 1.2em;
              cursor: pointer;
              &-img {
                margin-left: .7em;
                @include flex-content();
                img {
                  width: .6em;
                }
              }
              &-img-asc {
                transform: rotate(180deg);
              }
            }
          }
        }
        &-rows {
          font-size: 1.231em;
          //height: 3em;
          //@include flex-content(center, center, column);
          border-bottom: 1px solid #adadad;
          padding: 1em 0;
          &-item {
            width: 100%;
            &-cell {
              &-text {
                padding: 0 1em;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 9.231em;
                white-space: nowrap;
              }
              &-subject {
                @include flex-content(space-between);
                &-text {
                  padding: 0 1em;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  width: 28.7em;
                  white-space: nowrap;
                }
                &-img {
                  width: 1.2em;
                  height: 1.2em;
                }
              }
              &-array {
                @include flex-content(space-between);
                &-count {
                  padding: 0 .2em;
                  margin-left: 2em;
                  background: #9c9c9c;
                  color: white;
                  border-radius: 5px;
                }
                &-to {
                  @include flex-content(flex-start);
                  &-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 11em;
                    padding: 0 0 0 1em;
                    white-space: nowrap;
                  }
                }

              }
              &-date {
                padding: 0 1em;
              }
              &-sorted {
                color: black !important;
                font-weight: bold;
              }
            }
          }
          &-itemData{
            border-bottom: 1px solid #adadad;
            background: #f3f3f3;
            &-rows-item {
              @include flex-content(flex-start, center, column);
              padding: .5em;
              &-top {
                @include flex-content(space-between, flex-start);
                margin-bottom: .5em;
                &-left {
                  @include flex-content(flex-start, flex-start);
                  &-emails {
                    @include flex-content(flex-start, flex-start, column);
                    width: calc(100% - 3em);
                    &-top {
                      @include flex-content(space-between, center);
                      &-right {
                        @include flex-content(flex-end, center);
                        font-size: 1em;
                        img {
                          width: 1em !important;
                          height: 1em !important;
                          cursor: pointer;
                        }
                        .security-incidents-content-grid-data-rows-item-date-dateResponsive {
                          padding: 0 .5em;
                          width: max-content;
                        }
                      }
                      &-from {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 14em;
                        white-space: nowrap;
                      }
                    }
                    &-bottom {
                      @include flex-content(flex-start, center);
                      flex-wrap: wrap;
                      span {
                        margin-right: 1em;
                      }
                    }
                  }
                  img {
                    width: 1.8em;
                    height: 1.8em;
                    margin-top: .5em;
                  }
                }
              }
              &-bottom {
                @include flex-content(flex-start, flex-start, column);
                &-subject {
                  padding-left: .5em;
                  font-size: 1em;
                  width: calc(100% - 2em);
                }
                &-text {
                  margin: 0.5em;
                  /* margin-top: 1em; */
                  width: calc(100% - 4em);
                  background: white;
                  padding: 1em;
                }
              }
            }
          }
        }
        &-rows:hover {
          cursor: pointer;
          background: #ececec;
          fill: blue !important;
          color: blue !important;
        }
      }
    }
    &-gridResponsive-data {
      overflow: hidden;
      tr td {
        border-bottom: 1px solid #adadad;
        padding: .8em 0;
        width: 100%;
      }
      table {
        border-collapse: collapse;
        overflow: hidden;
        height: 100%;
      }
      &-header {
        height: 3em;
        background: #ececec;
        color: #717171;
        @include flex-content(flex-start);
        padding: 0 1em;
        &-item {
          @include flex-content(flex-start);
          &-text {
            cursor: pointer;
          }
          &-sorted {
            color: black !important;
            font-weight: bold;
          }
          mat-divider {
            height: 2em;
            margin: 0 1em;
          }
          &-img {
            margin-left: .7em;
            @include flex-content();
            cursor: pointer;
            img {
              width: .6em;
            }
          }
        }
      }
      &-body {
        height: calc(100% - 3em);
        overflow: auto;
        tr {
          width: 100%;
          display: block;
        }
      }
      &-rowData {
        border-bottom: 1px solid #adadad;
        background: #f3f3f3;
        width: 100%;
      }
      &-rows {
        //height: 4em;
        //padding: 0 1em;
        width: 100%;
        display: block;
        &-item {
          @include flex-content(center, center, column);
          &-top {
            @include flex-content(space-between, flex-start);
            &-left {
              @include flex-content(flex-start, center);
              &-emails {
                @include flex-content(flex-start, flex-start, column);
                width: calc(100% - 1.8em);
                &-top {
                  @include flex-content(space-between, center);
                  height: 1em;
                  &-right {
                    @include flex-content(flex-end, center);
                    font-size: 1em;
                    //fill: black;
                    //color: black;
                    img {
                      width: .8em !important;
                      height: .8em !important;
                      cursor: pointer;
                    }
                    .security-incidents-content-grid-data-rows-item-date-dateResponsive {
                      padding: 0 .5em !important;
                      width: max-content;
                    }
                  }
                  &-from {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 15em;
                    white-space: nowrap;
                  }
                }
              }
              img {
                width: 1.8em;
                height: 1.8em;
              }
            }
          }
          &-bottom {
            @include flex-content(flex-start, center);
            width: calc(100% - 1em);
            &-subject {
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 17.5em;
              white-space: nowrap;
              font-size: 1.3em;
            }
          }
        }
      }
      &-rows:hover {
        cursor: pointer;
        background: #ececec;
        fill: blue !important;
        color: blue !important;
        &-item-top-left-emails-top-right {
          fill: blue !important;
          color: blue !important;
        }
      }
    }
  }
}
.mobile-view-attachment {
  width: .7em !important;
  height: .7em !important;
}
tbody {
  overflow-y: scroll !important;
}
@media screen and (max-width: 1024px) {
  .security-incidents-content-grid-data-rows-itemData-rows-item-bottom-text {
    width: calc(100% - 3.2em) !important;
  }
}
@media screen and (width: 411px) {
  .security-incidents-content-gridResponsive-data-header {
    width: calc(100% - 2em) !important;
  }
  .security-incidents-content-gridResponsive-data-body {
    width: 100% !important;
  }
}
@media screen and (width: 414px) {
  .security-incidents-content-gridResponsive-data-header {
    width: calc(100% - 2em) !important;
  }
  .security-incidents-content-gridResponsive-data-body {
    width: 100% !important;
  }
}
@media screen and (width: 768px) {
  .security-incidents-content-gridResponsive-data-header {
    width: 100% !important;
  }
  .security-incidents-content-gridResponsive-data-body {
    width: 100% !important;
  }
}
@media screen and (width: 1024px) {
  .security-incidents {
    font-size: 1.5em;
  }
  .security-incidents-content-gridResponsive-data-header {
    width: 100% !important;
  }
  .security-incidents-content-gridResponsive-data-body {
    width: 100% !important;
  }
}
